# Maven
**/target/

# Eclipse / STS
**/.classpath
**/.project
**/.settings/
**/.apt_generated
**/.springBeans
**/.sts4-cache

# IntelliJ
**/.idea/
**/*.iml
**/*.ipr
**/*.iws

# VS Code
**/.vscode/

# Logs
**/*.log

# Eclipse Workspace
.metadata/

# OS Files
.DS_Store
Thumbs.db